*{
    margin: 0;
    padding: 0;
}
body{
	overflow-x: hidden;
    background-color: rgb(4, 63, 80);
}
html{
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;  
}
a{
    text-decoration: none; 
}

.gridContainer{
    display: grid;
    grid-template-areas:
    "titulo titulo titulo titulo"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
}
header {
    grid-area: titulo;
}
nav {
    grid-area: nav;
    background-color: rgb(51, 138, 162);
    padding:5px 10px;
}
main {
    grid-area: main;
}
footer{
    grid-area: footer;
}
/*-----INICIO propiedades pertenecientes a INDEX-----*/
.encabezado{
    display:flex;
    padding:5px 10px;
    align-items: center;
    background-color: rgb(51, 138, 162);   
}
.encabezado__logo{ 
    width: 100px;
    height: 100px;
}
.encabezado__h1{
    font-size: 400%; 
    color: white;
    padding: 0px 10px 0px 10px;
}
.encabezado__nav{
    display: flex;
    justify-content: flex-end;
}
.encabezado__list{
    list-style: none;
    display: flex;
}
.piepagina__list{
    list-style: none;
    color: white;
}
/*-----FIN propiedades pertenecientes a INDEX-----*/

/* Vista Mobile */
@media only screen and (min-width: 320px) and (max-width: 767px){
    /*-----INICIO propiedades pertenecientes a INDEX-----*/
    .encabezado__item{
        margin: 0px 0.5rem;
    }
    .encabezado__anchor{
        color: white;
        font-size: 100%;
    }
    .encabezado__anchor:hover{
        background: rgb(4, 63, 80);
        padding: 0.15rem 0px 0.15rem 0px;
        border-radius: 2px;
    }
    .menu{
        background-image: url("../assets/fondo.jpg");
        height: 340px;
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 30px;
        display: flex;
        align-items: center;  
    }
    .menu__h2{
        font-size: 150%; 
        text-align: center; 
        color: lightslategrey;
        background-color: rgba(255, 255, 255, 0.818);
        padding: 5px 30px 5px 30px;
        margin-top: 20px;
        margin-bottom: 20px;  
    }
    .menu__a{
        font-size: 125%; 
        text-align: center; 
        color: white;
        background-color: rgb(51, 138, 162);
        padding: 10px 20px 10px 20px;/*aplicando padding*/
        border-radius: 10px;
    }
    .piepagina__row{
        padding:5px 10px;
    }
    .piepagina__item{
        display: inline-block;
        margin: 0px 0.5rem;
    }
    .piepagina__item--modify{
        font-size: 125%;
    }
    .piepagina__h3{
        font-size: 125%;
        text-decoration:underline;
        color: white;
        padding:5px;
    }
    /*-----FIN propiedades pertenecientes a INDEX-----*/
    
    /*-----INICIO propiedades pertenecientes a Quienes somos-----*/
    .menu--modificacion{
        background: whitesmoke;
        padding-bottom: 10px;
    }
    .menu__h2--modificacion{
        font-size: 150%;
        background-color: rgba(33, 69, 118, 0.5);
        color:whitesmoke;
        padding:1px 4px;
    }
    .menu__articulo{
        padding: 10px;
    }
    .menu_video{
        display: block;
        margin-left: auto;
        margin-right: auto; 
        width:75%; 
        height:75%;  
    }
    .menu__parrafo{
        margin-left: auto;
        margin-right: auto; 
        font-size: 125%;
        padding: 2.5px;
        width:70%;
    }
    .menu_imagen{
        display: block;
        margin-left: auto;
        margin-right: auto; 
        width:75%; 
        height:75%;
    }
    /*-----FIN propiedades pertenecientes a Quienes somos-----*/

    /*-----INICIO propiedades pertenecientes a Contacto-----*/
    .menu__contacto--mapa{
        display: block;
        padding: 15px;
        margin-left: auto;
        margin-right: auto; 
        width:60%; 
        height:60%;
    }
    .menu__contacto--div{
        display: none;
        padding: 30px;   
    }
    .menu__fieldset{
        /*display: flex;*/
        padding: 10px;
        background-color: rgb(51, 138, 162,0.15);
        border-radius: 15px;
    }
    .menu__legend{
        font-size: 125%;
    }
    .menu__fieldset--div{
        padding: 0px 10px;
    }
    textarea { 
        width: 90%; 
    }
    /*-----FIN propiedades pertenecientes a Contacto-----*/

    /*-----Inicio propiedades pertenecientes a Productos-----*/
    .grid__productos{
        display: grid;
        grid-template-areas: 
        "imagen1 caja1"
        "imagen2 caja2"
        "imagen3 caja3";
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(3,auto);
        padding: 10px;
    }
    .imageproducto1{
        grid-area:imagen1;
        padding: 5px 10px;
        width:90%; 
        height:90%;     
    }
    .box1{
        grid-area: caja1;
        display:inline-block;
        left: 200px;
        padding: 5px 5px;
        height:90%;
    }
    .imageproducto2{
        grid-area:imagen2;
        padding: 5px 10px;
        width:90%; 
        height:90%;     
    }
    .box2{
        grid-area: caja2;
        display:inline-block;
        left: 200px;
        padding: 5px 5px;
        height:90%;
    }
    .imageproducto3{
        grid-area:imagen3;
        padding: 5px 10px; 
        width:90%; 
        height:90%;   
    }
    .box3{
        grid-area: caja3;
        display:inline-block;
        left: 200px;
        padding: 5px 5px;
        height:90%;
    }
    .menu__h3{
        font-size: 130%;
        padding: 0px 5px;
    }
    .menu__parrafo--modificacion{
        font-size: 100%;
        padding: 0px 5px;
    }
    .menu__productosdiv{
        padding: 0px 5px;
    }
    .menu__productos--anchor{
        font-size: 10%;
        padding: 2.5px 10px;
        background-color: rgba(33, 69, 118, 0.5);
        color:whitesmoke;
        border-radius: 3px;
    }
    /*-----FIN propiedades pertenecientes a Productos-----*/

    /*-----INICIO propiedades pertenecientes a Proyectos-----*/
    .grid__proyectos{
        display: grid;
        grid-template-areas: 
        "div1" "div2" "div3" "div4"
        "div5" "div6" "div7" "div8";
        grid-template-columns: 300px;
        grid-template-rows: repeat(8,auto);
        padding:10px;
        justify-content: center; 
        /*font-size: 125%;*/
    }
    .menu__div1{
        grid-area:div1;
        padding: 5px 10px;
        text-align: center;     
    }
    .menu__div2{
        grid-area:div2;
        padding: 5px 10px; 
        text-align: center;   
    }
    .menu__div3{
        grid-area:div3;
        padding: 5px 10px;  
        text-align: center;   
    }
    .menu__div4{
        grid-area:div4;
        padding: 5px 10px; 
        text-align: center;    
    }
    .menu__div5{
        grid-area:div5;
        padding: 5px 10px; 
        text-align: center;    
    }
    .menu__div6{
        grid-area:div6;
        padding: 5px 10px;
        text-align: center;     
    }
    .menu__div7{
        grid-area:div7;
        padding: 5px 10px;  
        text-align: center;   
    }
    .menu__div8{
        grid-area:div8;
        padding: 5px 10px; 
        text-align: center;    
    }
    /*-----FIN propiedades pertenecientes a Proyectos-----*/ 

    /*-----INICIO propiedades pertenecientes a Servicios-----*/
    .grid__servicios{
        display: grid;
        grid-template-areas: 
        "circulo1" 
        "boxdiv1"
        "circulo2" 
        "boxdiv2"
        "circulo3" 
        "boxdiv3";
        grid-template-columns: 170px;
        grid-template-rows: repeat(6,180px);
        padding: 10px 10px;
        justify-content: center;  
        /*align-items: center;*/
    }
    .circular--square1{
        grid-area:circulo1;
        border-radius: 50%;
        border: 5px solid rgb(51, 138, 162);
        padding: 5px;
    }
    .circular--square2{
        grid-area:circulo2;
        border-radius: 50%;
        border: 5px solid rgb(51, 138, 162);
        padding: 5px;
    }
    .circular--square3{
        grid-area:circulo3;
        border-radius: 50%;
        border: 5px solid rgb(51, 138, 162);
        padding: 5px;
    }
    .producto__contenido1{
        grid-area: boxdiv1;
        padding: 5px 5px;
    }   
    .producto__contenido2{
        grid-area: boxdiv2;
        padding: 5px 5px;
    } 
    .producto__contenido3{
        grid-area: boxdiv3;
        padding: 5px 5px;
    }
    /*-----FIN propiedades pertenecientes a Servicios-----*/
}


/* vista desktop */
@media only screen and (min-width: 768px){  
    /*-----INICIO propiedades pertenecientes a INDEX-----*/
    .encabezado__item{
        margin: 0px 1rem; /*0.5rem para 320*/
    }
    .encabezado__anchor{
        color: white;
        font-size: 145%; /*100% para 320*/
    }
    .encabezado__anchor:hover{
        background: rgb(4, 63, 80);
        padding: 0.25rem 0px 0.25rem 0px;
        border-radius: 2px;
    }
    .menu{
        background-image: url("../assets/fondo.jpg");
        height: 540px;
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 30px;
        display: flex;
        align-items: center;  
    }
    .menu__h2{
        font-size: 400%; 
        text-align: center; 
        color: lightslategrey;
        background-color: rgba(255, 255, 255, 0.818);
        padding: 5px 80px 5px 80px;
        margin-top: 20px;
        margin-bottom: 20px;  
    }
    .menu__a{
        font-size: 200%; 
        text-align: center; 
        color: white;
        background-color: rgb(51, 138, 162);
        padding: 10px 20px 10px 20px;/*aplicando padding*/
        border-radius: 10px;
    }
    .piepagina__row{
        display: flex;
        align-items:flex-start;
        justify-content: flex-end;
        padding:5px 10px;
        gap:75px;    
    }
    .piepagina__item{
        display: inline-block;
        margin: 0px 1rem;
    }
    .piepagina__item--modify{
        font-size: 150%;
    }
    .piepagina__h3{
        font-size: 150%;
        text-decoration:underline;
        color: white;
        padding:5px;
    }
    /*-----FIN propiedades pertenecientes a INDEX-----*/

    /*-----INICIO propiedades pertenecientes a Quienes somos-----*/
    .menu--modificacion{
        background: whitesmoke;
        height: 640px; 
    }
    .menu__h2--modificacion{
        font-size: 250%;
        background-color: rgba(33, 69, 118, 0.5);
        color:whitesmoke;
        padding:2px 5px;
    }
    .menu__articulo{
        display: flex;
        padding: 15px;
        align-items: center; 
        justify-content: space-between;
    }
    .menu__parrafo{
        font-size: 200%;
        padding: 5px;
    }
    /*-----FIN propiedades pertenecientes a Quienes somos-----*/

    /*-----INICIO propiedades pertenecientes a Contacto-----*/
    .menu__contacto--article{
        display: flex;
        padding: 15px;
        align-items:flex-start; 
        justify-content:flex-start; 
        font-size: 200%;
    }
    .menu__contacto--div{
        padding: 30px;   
    }
    .menu__fieldset{
        display: flex;
        padding: 10px;
        background-color: rgb(51, 138, 162,0.15);
        border-radius: 15px;
    }
    .menu__legend{
        font-size: 200%;
    }
    .menu__fieldset--div{
        padding: 0px 10px;
    }
    .menu__label{
        font-size: 150%;
        padding: 5px 20px;
    }
    textarea { 
        width: 250%; 
    }
    /*-----FIN propiedades pertenecientes a Contacto-----*/

    /*-----Inicio propiedades pertenecientes a Productos-----*/
    .grid__productos{
        display: grid;
        grid-template-areas: 
        "imagen1 caja1"
        "imagen2 caja2"
        "imagen3 caja3";
        grid-template-columns: 240px auto;
        grid-template-rows: repeat(3,auto);
        /*padding: 10px;*/
    }
    .imageproducto1{
        grid-area:imagen1;
        padding: 5px 20px;   
    }
    .box1{
        grid-area: caja1;
        display:inline-block;
        left: 200px;
        padding: 5px 5px;
        height:144px;
    }
    .imageproducto2{
        grid-area:imagen2;
        padding: 5px 20px;     
    }
    .box2{
        grid-area: caja2;
        display:inline-block;
        left: 200px;
        padding: 5px 5px;
        height:144px;
    }
    .imageproducto3{
        grid-area:imagen3;
        padding: 5px 20px;     
    }
    .box3{
        grid-area: caja3;
        display:inline-block;
        left: 200px;
        padding: 5px 5px;
        height:144px;
    }
    .menu__h3{
        font-size: 200%;
        padding: 5px 10px;
    }
    .menu__parrafo--modificacion{
        font-size: 150%;
        padding: 5px 10px;
    }
    .menu__productosdiv{
        padding: 5px 10px;
    }
    .menu__productos--anchor{
        font-size: 200%;
        padding: 5px 20px;
        background-color: rgba(33, 69, 118, 0.5);
        color:whitesmoke;
        border-radius: 5px;
    }
    /*-----FIN propiedades pertenecientes a Productos-----*/

    /*-----INICIO propiedades pertenecientes a Proyectos-----*/
    .grid__proyectos{
        display: grid;
        grid-template-areas: 
        "div1 div2 div3 div4"
        "div5 div6 div7 div8";
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: repeat(3,auto);
        /*padding:10px;*/
        justify-content: center; 
        font-size: 125%;
    }
    .menu__div1{
        grid-area:div1;
        padding: 5px 10px;     
    }
    .menu__div2{
        grid-area:div2;
        padding: 5px 10px;     
    }
    .menu__div3{
        grid-area:div3;
        padding: 5px 10px;     
    }
    .menu__div4{
        grid-area:div4;
        padding: 5px 10px;     
    }
    .menu__div5{
        grid-area:div5;
        padding: 5px 10px;     
    }
    .menu__div6{
        grid-area:div6;
        padding: 5px 10px;     
    }
    .menu__div7{
        grid-area:div7;
        padding: 5px 10px;     
    }
    .menu__div8{
        grid-area:div8;
        padding: 5px 10px;     
    }
    /*-----FIN propiedades pertenecientes a Proyectos-----*/

    /*-----INICIO propiedades pertenecientes a Servicios-----*/
    .grid__servicios{
        display: grid;
        grid-template-areas: 
        "circulo1 boxdiv1"
        "circulo2 boxdiv2"
        "circulo3 boxdiv3";
        grid-template-columns: 170px auto;
        grid-template-rows: repeat(3,190px);
        padding: 0px 10px; 
        align-items: center;
    }
    .circular--square1{
        grid-area:circulo1;
        border-radius: 50%;
        border: 5px solid rgb(51, 138, 162);
        padding: 5px;
    }
    .circular--square2{
        grid-area:circulo2;
        border-radius: 50%;
        border: 5px solid rgb(51, 138, 162);
        padding: 5px;
    }
    .circular--square3{
        grid-area:circulo3;
        border-radius: 50%;
        border: 5px solid rgb(51, 138, 162);
        padding: 5px;
    }
    .producto__contenido1{
        grid-area: boxdiv1;
        display:inline-block;
        left: 200px;
        padding: 5px 5px;
    }   
    .producto__contenido2{
        grid-area: boxdiv2;
        display:inline-block;
        left: 200px;
        padding: 5px 5px;
    } 
    .producto__contenido3{
        grid-area: boxdiv3;
        display:inline-block;
        left: 200px;
        padding: 5px 5px;
    }
    /*-----FIN propiedades pertenecientes a Servicios-----*/
}