* {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  background: #043f50;
  background: -moz-linear-gradient(90deg, #043f50 50%, #010405 95%);
  background: -webkit-linear-gradient(90deg, #043f50 50%, #010405 95%);
  background: linear-gradient(90deg, #043f50 50%, #010405 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#043f50",endColorstr="#010405",GradientType=1); }

html {
  font-family: 'Roboto Condensed', sans-serif; }

a {
  text-decoration: none; }

/*Propiedades pertenecientes al encabezado*/
.encabezado {
  background-color: #338aa2; }
  .encabezado__container-fluid {
    padding-left: 0px;
    padding-right: 0px; }
  .encabezado__logo {
    width: 100px;
    height: 100px;
    animation: rotate-center 2s ease-in both; }
  .encabezado__h1 {
    color: white;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 0; }
  .encabezado__navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold; }
  .encabezado__anchor {
    color: white; }
    .encabezado__anchor:hover {
      color: white;
      background: #043f50;
      border-radius: 5px; }

.divheader {
  display: flex;
  padding: 5px 0px;
  align-items: center; }

/*Propiedades pertenecientes solo a menu en paginas, NO para index*/
.menupages {
  background: whitesmoke;
  height: auto; }
  .menupages__h2 {
    background-color: #a5a5a5;
    color: whitesmoke;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px; }

/*Propiedades pertenecientes al pie pagina*/
.piepagina {
  font-weight: bold;
  color: white; }
  .piepagina__list {
    list-style: none;
    color: white;
    padding-left: 0rem;
    padding-right: 0rem; }

.icon__redes:hover {
  background: #338aa2;
  border-radius: 1px; }

/*-----INICIO propiedades pertenecientes a INDEX-----*/
.menuindex__a, .menuindex__a:hover {
  text-align: center;
  color: white;
  background-color: #338aa2;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  font-weight: bold; }
  .menuindex__a:hover {
    background: #043f50; }

/*-----INICIO propiedades pertenecientes a SERVICIOS-----*/
.circular--square {
  border-radius: 50%;
  border: 5px solid #338aa2;
  padding: 5px;
  width: 250px;
  height: 250px; }

.servicios__anchor {
  color: white;
  background-color: #c9c9c9; }
  .servicios__anchor:hover {
    color: white;
    background-color: #338aa2; }

/*-----INICIO propiedades pertenecientes a PRODUCTOS-----*/
.product {
  margin: 1px;
  position: relative;
  overflow: hidden; }
  .product .product-description {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 2%;
    transition: 0.5s opacity ease-in-out;
    opacity: 0; }
  .product .RED {
    background-color: rgba(242, 57, 41, 0.7); }
  .product .GREEN {
    background-color: rgba(42, 127, 41, 0.7); }
  .product .GREY {
    background-color: rgba(95, 95, 95, 0.7); }
  .product:hover .product-description {
    opacity: 1; }

/*-----INICIO propiedades pertenecientes a CONTACTO-----*/
.menu__fieldset {
  padding: 10px;
  background-color: #90c4d3;
  border-radius: 15px; }

.requerido::after {
  content: " (*)";
  color: black; }

.requerido_mensaje::before {
  content: "OBLIGATORIOS";
  color: black;
  font-weight: bold;
  text-decoration: underline; }

.btn_contacto, .btn_contacto:hover {
  background-color: #338aa2;
  color: white;
  text-align: center;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  font-weight: bold; }
  .btn_contacto:hover {
    background-color: #043f50; }

@keyframes rotate-center {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

/* Vista Mobile */
/*-----INICIO propiedades pertenecientes a INDEX-----*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .menuindex {
    background-image: url("../assets/fondo.jpg");
    height: 100vh;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 30px;
    display: flex;
    align-items: center; }
    .menuindex__h2 {
      font-size: 2rem;
      padding: 5px 30px 5px 30px;
      font-weight: bold;
      text-align: center;
      color: lightslategrey;
      background-color: rgba(255, 255, 255, 0.818);
      margin-top: 20px;
      margin-bottom: 20px; }
  .menu__productos--anchor {
    padding: 2.5px 10px;
    border-radius: 3px;
    background-color: rgba(33, 69, 118, 0.5);
    color: whitesmoke; }
    .menu__productos--anchor:hover {
      background-color: #338aa2;
      color: whitesmoke; }
  .menu__productos__disabled {
    padding: 2.5px 10px;
    border-radius: 3px;
    background-color: #3e3f3e;
    color: whitesmoke; }
    .menu__productos__disabled:hover {
      color: whitesmoke; } }

/* Vista desktop */
/*-----INICIO propiedades pertenecientes a INDEX-----*/
@media only screen and (min-width: 768px) {
  .menuindex {
    background-image: url("../assets/fondo.jpg");
    height: 100vh;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 30px;
    display: flex;
    align-items: center; }
    .menuindex__h2 {
      font-size: 2.5rem;
      padding: 5px 80px 5px 80px;
      font-weight: bold;
      text-align: center;
      color: lightslategrey;
      background-color: rgba(255, 255, 255, 0.818);
      margin-top: 20px;
      margin-bottom: 20px; }
  .menu__productos--anchor {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgba(33, 69, 118, 0.5);
    color: whitesmoke; }
    .menu__productos--anchor:hover {
      background-color: #338aa2;
      color: whitesmoke; }
  .menu__productos__disabled {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #3e3f3e;
    color: whitesmoke; }
    .menu__productos__disabled:hover {
      color: whitesmoke; }
  .project {
    position: relative;
    overflow: hidden;
    display: flex; }
    .project .project-description {
      display: flex;
      position: absolute;
      left: 25%;
      top: 0;
      width: 50%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: #FFF;
      font-size: 1.25rem;
      font-weight: bold;
      background: rgba(92, 91, 91, 0.7);
      transition: 0.5s opacity ease-in-out;
      opacity: 0; }
    .project:hover .project-description {
      opacity: 1; } }
