@import "../scss/variables";
@mixin paddingVertical($pUP,$pDW){
    padding-top: $pUP;
    padding-bottom: $pDW;
}

@mixin paddingHorizontal($pLT,$pRG){
    padding-left: $pLT;
    padding-right: $pRG;
}

@mixin marginVertical($mUP,$mDW){
    margin-top: $mUP;
    margin-bottom: $mDW;
}

@mixin dimesiones($wid,$hei){
    width: $wid;
    height: $hei;
}

@mixin responsive_index{
    background-image: url("../assets/fondo.jpg");
    height: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 30px;
    display: flex;
    align-items: center;   
}

@mixin responsive_h2{
    font-weight: $negrita;
    text-align: center; 
    color: lightslategrey;
    background-color: rgba(255, 255, 255, 0.818);   
}
@mixin escritorio_h2{
    font-size: 2.5rem;
    padding: 5px 80px 5px 80px;
}
@mixin escritorio_productos {
    padding: 5px 20px;
    border-radius: 5px;   
}
@mixin mobile_h2{
    font-size: 2rem;
    padding: 5px 30px 5px 30px;
}
@mixin mobile_productos {
    padding: 2.5px 10px;
    border-radius: 3px;   
}


@mixin responsive_productos($bgC,$colo){
    background-color: $bgC;
    color: $colo;
}