@import "../variables";
.menuindex__a{
    text-align: center; 
    color: white;
    background-color: $azulOscuro;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-weight: $negrita;
    &:hover{
        @extend .menuindex__a;
        background: rgb(51, 138, 162);
    }
}