    @import "../variables";
    @import "../mixin";
    /*-----INICIO propiedades pertenecientes a INDEX-----*/
    @media only screen and (min-width: 320px) and (max-width: 767px){   
        .menuindex{
            @include responsive_index;  
            &__h2{
                @include mobile_h2;
                @include responsive_h2;
                @include marginVertical(20px,20px);
            }
        }
        .menu__productos--anchor{
            @include mobile_productos;
            @include responsive_productos(rgba(33, 69, 118, 0.5),whitesmoke);
            &:hover{
                @include responsive_productos($celesteOscuro,whitesmoke);
        } 
        }
        .menu__productos__disabled{
            @include mobile_productos;
            @include responsive_productos(rgb(62, 63, 62),whitesmoke);
            &:hover{
                color:whitesmoke;
            }
        }
        .servicios__parrafos{
            font-size: 0.8rem;
        }

        .servicios__titulos{
            font-size: 1rem;
        }

        .servicios__sticky{
            font-size: 0.8rem;
        }

        .ratio__mobile{
            --bs-aspect-ratio: 75%;
        }
    }