@import "../mixin";
.parrafos__padding{
    @include paddingHorizontal(1rem,1rem);
}
.representantes {
    margin:1px;  
    overflow:hidden; 
    position:relative;
}
.representantes .representantes-description {
    display:flex;
    position:absolute;
    left:25%;
    top:0;
    width:100%;
    height:100%;    
    transition: 0.5s opacity ease-in-out;
    opacity:0; 
}
.representantes:hover .representantes-description {
    background: rgba(180, 180, 180, 0.7);
    opacity: 1;    
}

