.circular__icon{
    background-color: #338aa2;
    color:white;
}
.circular__div{
    display: flex;
    align-items: center;    
    justify-content: center;
    background-color: #338aa2;
    width: 64px;
    height: 64px;
    border-radius: 50%;

}
