@import "../variables";
.circular--square{
    border-radius: 50%;
    border: 5px solid $celesteOscuro;
    padding: 5px;
    width:250px;
    height:250px;
}

.servicios__anchor{
    color:white;
    background-color: #c9c9c9;  
    &:hover{
        color:white;
        background-color: #338aa2;   
    } 
}