@import "../variables";
@import "../mixin";
.encabezado{
    background-color: $celesteOscuro;
    &__container-fluid{
        @include paddingHorizontal(0px,0px);
    } 
    
    &__h1{  
        color: white;
        padding: 0px 10px 0px 10px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 0;
    }
    &__anchor{
        color: white;
        &:hover{
        color: white;
        background: $azulOscuro;
        border-radius: 5px;
        }
    }
    
}
