@import "../variables";
.piepagina{
    font-weight: $negrita;
    color: white;
    &__list{
        list-style: none;
        color: white;
        padding-right: 0rem;
        padding-left: 0rem;
    }
}
.icon__redes:hover{
    background: $celesteOscuro;
    border-radius: 1px;
}