@import "../variables";
@import "../mixin";
.piepagina{
    font-weight: $negrita;
    color: white;
    &__list{
        list-style: none;
        color: white;
        @include paddingHorizontal(0rem,0rem);
    }
}
.icon__redes:hover{
    background: $celesteOscuro;
    border-radius: 1px;
}